:root{
    --font_sans: Helvetica, sans-serif;
    --font_serif: Georgia, serif;
    --color_blue: rgb(27, 3, 106);
    --color_purple: rgb(80, 3, 98);
    --color_pink: rgb(169, 61, 169);
    --color_black: black;
}